<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
<nav class="navbar">
    <a class="navbar" href="#">harshal news</a>
<div class="container" >
<ul class="navbar-nav">
    <li><a class="navbar" href="/">home</a>  </li>
    <li><a class="navbar" href="/form">form</a></li>
    <li><a class="navbar" href="/data">data</a></li>
    <li><a class="navbar" href="#">about</a></li>
</ul>
</div>
</nav>
{% block body_block %}
{% endblock %}
</body>
</html>